%main.content-doc
  %h2 Getting Started

  %h3 Activate Repos
  %figure
    = image_tag('landing/step-activate.png')
    %figcaption
      Tell Hound which GitHub repos to watch.

  %h3 Commit &amp; Pull Request Code
  %figure
    = image_tag('landing/step-code.png')
    %figcaption
      Write and commit code as you normally would then
      open a pull request to get reviewed by Hound.

  %h3 View Hound Comments
  %figure
    = image_tag('landing/step-comment.png')
    %figcaption
      Hound will review your pull request and make inline comments on
      any style guide violations.
