.guides-header {
  .logo {
    font-size: 1.5em;

    a {
      @include transition(none);
      padding: 0;

      &:hover {
        border: none;
        color: inherit;
      }
    }
  }
}

.guides-index-navigation {
  @include clearfix;

  .guide-link {
    padding: 0;
  }

  dl {
    @include span-columns(6);
    @include omega(2n);
  }

  dd {
    font-size: .85em;
    margin: 0;
    line-height: 1.4em;
  }
}
